body {
    font-family: 'Poppins', sans-serif;
    margin: 2rem;
    background: #f8f8f8;
}

form {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    max-width: 400px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    margin: auto;
}

input,
textarea,
select,
.agregar {
    width: 100%;
    margin-bottom: 1rem;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    background: #2ecc71;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.2s;
}

button:hover {
    background: #27ae60;
}